.app-header {
  position: fixed;
  padding: 1rem 3% 1rem 4%;
  width: 100%;
  min-height: 5rem;
  background: #ecc3c3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 100;
}

.navbar-collapse button {
  float: right;
}
